body {
height: 100vh;
overflow: hidden;
  background: linear-gradient(#D3CCE3,#E9E4F0)
}

.q::-webkit-scrollbar { width: 0 !important }
.q { overflow: -moz-scrollbars-none; }
.q { -ms-overflow-style: none; }
@media only screen and (max-width: 400px) {
  q {
    width:100%;
    height: 70vh;
    scroll-behavior: smooth;
    position: bottom;
    overflow-y: scroll;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
  }
}
.q{
  padding-bottom: 8px;

    width:100%;
    height: 85vh;
    scroll-behavior: smooth;
    position: bottom;
    overflow-y: scroll;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
 }

