.all{
  transition-duration: 2s;
  transform-origin: 100%;
}

.pillr {
    background-image: linear-gradient(to right,#000000,#000000);
  border: none;
  color: white;
  padding: 10px;
  max-width: 90vw;
  text-align: center;
  text-decoration: none;
  border-radius: 50px 50px 5px 50px;
}

.ts{
  padding: 3px;
  font-size: 10px;
}
.t{
  padding: 3px;
  font-size: 10px;
}

.pills {
  background-image: linear-gradient(to left,#ffffff,#ffffff);
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  max-width: 90vw;
  text-align: center;
  text-decoration: none;
  border-radius: 5px 50px 50px 50px;
  

}
.pill1{
  background-image: linear-gradient(to left,#818181,#ffffff);
  border: none;
  color:rgb(19, 19, 19);
  padding: 1px;
  width: 40vw;
  text-align: center;
  text-decoration: none;
border-radius: 100px 100px 100px 100px; 
}
