@import url('https://fonts.googleapis.com/css?family=Exo+2');
body {
  margin: 15px;
  padding: 0;
  font-family: 'Exo 2';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: 'Exo 2';
}
